##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
*.log
LOG_FILE_IS_UNDEFINED

##############################
## STS
##############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## SDKMan
##############################
.sdkmanrc

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
.run/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Claude Code
##############################
.claude/
.mcp.json
.claude.json

##############################
## Cursor
##############################
.cursor

##############################
## Visual Studio Code
##############################
.code-workspace
.vscode/
.history/
*.vsix

##############################
## BlueJ
##############################
*.ctxt

##############################
## Kubernetes
##############################
*.kubeconfig

##############################
## OS X
##############################
.DS_Store

##############################
## Windows
##############################
Thumbs.db

##############################
## Generic package files
##############################
*.zip
*.tar.gz
*.rar
